
body{
  margin: 0;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  background-color: #eee;
}
.about, .bottom-post p, h2{
  font-family: Oswald, Helvetica, Arial, sans-serif;
}
h2{
  font-size: 50px;
  color: rgba(7, 53, 81, 1);
  line-height: 1em;
}
.clearfix{
  overflow: auto;
}
h1, h2, h3, h4, h5, h6{

}
u{

}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
a:visited{
  color: black;
}
.underline{
  text-decoration: underline;
  color: rgba(221, 226, 231, 1);
}
blockquote{
  margin: 0px 0px 15px 0px;
  padding: 10px 0px 10px 20px;
  color: rgba(0, 97, 174, 1);
  font-size: 28px;
  text-transform: uppercase;
  border-left: 1px solid rgba(120, 128, 133, 1);
}
li{

}
/*li:hover{
  background-color: rgba(255,255,255, 0.755);
  padding: 0 5px;
}  */
ul, p{
  margin: 0;
  padding: 0;
  list-style: none;
}
.right-float{
  float: right;
}
.left-float{
  float: left;
}
.container{
  max-width: 1300px;
  margin: 0 auto;
  background-color: #fff;
}
header{
  background:
  linear-gradient( rgba(43, 119, 176, .5), rgba(43, 119, 176, .5) ),
  url(images/header-bg-1-bw.jpg) no-repeat top center;
  height: 523px;
  background-size: cover;
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
}

.header-container, .content-container, .footer-container{
  max-width: 1018px;
  margin: 0 auto;
}
.blog-id{
  font-size: 1.6em;
}
.top-aligned{
  padding-top: 10px;
}
.top-aligned > div, .top-aligned > nav{
  display: inline-block;
}
.blog-id img, .blog-id span{
  display: block;
  float: left;
}
.blog-id span{
  margin-left: 14px;
  line-height: 45px;
  vertical-align: middle;
  letter-spacing: -.01em;
}
.about{
  margin-top: 4px;
  margin-right: 28px;
  font-size: 1.8em;
  line-height: 1.8em;
  letter-spacing: -.03em;
}
.search::after{
  font-family: FontAwesome;
  content: "\f002";
  margin-left: 7px;
  font-size: .9em;
  transform: scale(-1, 1);
  display: inline-block;
  vertical-align: top;
}

nav{

}
nav li{
  display: inline-block;
  margin-left: 15px;
}
.blog-id{

}
.blog-id span{

}
.title-block{
  text-align: center;
  padding-top: 151px;
}
.title-block h1{
  font-family: font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 10.75em;
  line-height: 1em;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.05);
  letter-spacing: -.038em;
  color: white;
  font-weight: lighter;
  margin: 0 auto;
  margin-bottom: -1px;
}
.title-block span{
  margin-top: 8px;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -.01;
  color: rgba(0,0,0, .75);
}
.content-container{
  padding-top: 20px;
}
content{
  color: rgba(120, 128, 133, 1);
}
article, aside{
  display: inline-block;
  vertical-align: top;
}
article{
  width: 60.510805501%;
  margin-right: 8.0550098232%;
}
.article-title-block{
  margin-bottom: 15px;
}
.article-title{
  margin:0;
  padding: 0;
  margin-bottom: 10px;
}
.article-meta{
  line-height: 18px;
  vertical-align: middle;
  color: rgba(221, 226, 231, 1);
}
.article-title-author{
  margin-left: 25px;
  margin-right: 15px;
  position: relative;
  color: rgba(50, 121, 184, 1);
  font-weight: bold;
}
.article-title-author:before{
  background: url(images/author-pic.png) no-repeat center center;
  background-size: cover;
  content: " ";
  position: absolute;
  left: -25px;
  height: 18px;
  width: 18px;
}
article p{
  margin-bottom: 15px;
  font-size: 12px;
}
.article-footer li{
  display: inline-block;
  margin-right: 7px;
  background-color: rgba(164, 179, 191, 1);
  line-height: 24px;
  vertical-align: middle;
  color: white;
  padding-right: 5px;
}
.article-footer li::before{
  width: 24px;
  height: 24px;
  background-color: rgba(94, 104, 111, 1);
  font-family: FontAwesome;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}
.article-footer li:hover{
  background-color: rgba(17, 109, 179, 1);
}
.article-footer li:hover::before{
  background-color: rgba(7, 53, 81, 1);
}
.read-comments::before{   content: "\f075"; }
.read-later::before{   content: "\f0ee"; }
.share-this-post::before{   content: "\f045"; }

aside{
  width: 27.308447937%;
}
footer{
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid #cacaca;
}

.footer-chiron{
  background-color: rgba(7, 53, 81, 1);
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  color: rgba(162, 178, 191, 1);
  font-size: 12px;
}
footer h2{
  text-align: center;
  font-size: 50px;
  color: rgba(7, 53, 81, 1);
}
.bottom-post{
  width: 25%;
  height: 330px;
  float: left;
  margin: 0;
  padding: 0;
  background-size: cover;
  position: relative;
}
.bottom-post p{
  position: absolute;
  float: left;
  margin-left: 20px;
  width: 75%;
  bottom: 20px;
  font-size: 28px;
  color: rgba(8, 50, 79, 1);
}
.bottom-post:hover p{
  color: white;
}
.post-1{
  background: linear-gradient( rgba(43, 119, 176, .75), rgba(43, 119, 176, .75)),
  url(images/footer-bg-1-bw.jpg);
}
.post-2{
  background: linear-gradient( rgba(43, 119, 176, .75), rgba(43, 119, 176, .75)),
  url(images/footer-bg-2-bw.jpg);
}
.post-3{
  background: linear-gradient( rgba(43, 119, 176, .75), rgba(43, 119, 176, .75)),
  url(images/footer-bg-3-bw.jpg);
}
.post-4{
  background: linear-gradient( rgba(43, 119, 176, .75), rgba(43, 119, 176, .75)),
  url(images/footer-bg-4-bw.jpg);
}
.post-1:hover{
  background: linear-gradient( rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)),
  url(images/footer-bg-1-bw.jpg);
}
.post-2:hover{
  background: linear-gradient( rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)),
  url(images/footer-bg-2-bw.jpg);
}
.post-3:hover{
  background: linear-gradient( rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)),
  url(images/footer-bg-3-bw.jpg);
}
.post-4:hover{
  background: linear-gradient( rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)),
  url(images/footer-bg-4-bw.jpg);
}
.copyright{
  position: relative;
  margin-left: 22px;
}
.copyright:before{
  background: url(images/tiy-icon.png);
  background-size: cover;
  width: 20px;
  height: 20px
  content: " ";
  position: absolute;
  left: -22px;
}

.bottom-nav li{
  margin: 0px 0px 0px 5px;
}
.bottom-nav li:not(:last-child):after{
  content: "|";
  margin-left: 5px;
}
